body{background:#ffffff;font-family:georgia,helvetica;margin:0px;}
a{color:#336699;}
#other{padding:8px;margin-top:20px;}
.centered{width:640px;margin:auto;}
.heavyduty{font-weight:bold;}
.entry .date{position:relative;display:block;left:-65px;}
.entry .graphic{margin-left:30px;}
.entry .graphicSubtext{margin-top:10px;padding-top:85px;font-family:Georgia,serif;font-size:12px;line-height:1.25em;font-style:italic;color:#999;}
.entry .largeText{font-family:Georgia,serif;font-size:25px;letter-spacing:1px;font-weight:bold;}
.entry .defaultContent{color:#ccc;}
.entry .sign{margin-top:30px;font-style:italic;}
.entry input{background:#fff transparent;border:1px solid #ccc;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;color:#000;font-family:Georgia,serif;font-style:italic;font-size:20px;font-weight:normal;margin:15px 0;padding:5px 10px;}
.topDots{display:block;text-align:center;margin:30px;padding:20px 10px 2px 0;border-top:1px dotted #cccccc;color:#00cccc;font-size:11px;}
