<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="I work on opensource software, run a monitoring service, and write occationally. I ❤ enjoying life.">
    <meta name="keywords" content="delano mandelbaum,software development,fail privately,development process,6 axioms of documentation,life,open source,lover of all things pink">
    <meta name="google-site-verification" content="ieeQquk5meKqOo1-OKVd-yewvbDS6iO1JLEQI8ikAsM">
    <meta name="stella-authorization" content="jteq0jmoz9iis7rmv12i">
    <title>{{page.title}} | Delano Mandelbaum</title>
    <link rel="stylesheet" type="text/css" href="/etc/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/etc/site.css">
  </head>
  <body>
    <div class="centered">
      {{ content }}
    </div>
  </body>
</html>
