<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="I am Delano Mandelbaum. I ❤ enjoying life.">
    <meta name="keywords" content="delano mandelbaum,software development,fail privately,development process,life,open source,lover of all things orange">
    <meta name="google-site-verification" content="ieeQquk5meKqOo1-OKVd-yewvbDS6iO1JLEQI8ikAsM" />

    <title>{{page.title}} | Delano Mandelbaum</title>
    <link rel="stylesheet" type="text/css" href="/etc/site.css" />
</head>
<body>
  
<div id="otherz" class="centered">

{{ content }}

</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4642735-2");
pageTracker._trackPageview();
</script>

<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
try {
reinvigorate.track("4906q-rwz17422l5");
} catch(err) {}
</script>


</body>
</html>
