---
layout: default
bodyid: note
---

<div class="entry">

  <div class="date"><p><a href="/" title="Delano Mandelbaum">go back</a> | {{ page.date | date: "%b" }} {{ page.date | date: "%Y" }}</p></div>
  <a href="{{ page.url }}" title="{{ page.title }}"><h2>{{ page.title }}</h2></a>

{{ content }}
  
  <div class="sign">
    <p><strong>by Delano Mandelbaum</strong> from <a href="https://www.blamestella.com/" title="Web monitoring with Stella - Is your site fast?">BlameStella</a>.</p>
  </div>
  
</div>

<div class="topDots">
  <a href="/"><img src="https://secure.gravatar.com/avatar/601fb9606dd1479c15261c460625590a?s=48&amp;r=g" /></a>
</div>
